<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @lecture.content %>
</p>

<p>
  <strong>Attachment:</strong>
  <%= @lecture.attachment %>
</p>

<p>
  <strong>Course:</strong>
  <%= link_to Course.find(@lecture.course_id).title, course_path %>

</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>

<ul>
  <% @comments.each do |comment| %>
    <li><%= comment.text %></li>
  <% end %>
</ul>

<%= render 'comment_form', lecture: @lecture %>

